<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Flask React</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >

    </head>
    <body>

        <footer>
            <div class="blog-footer">
                <p>Blog built by <a href="#"></a> using Flask and ReactJS.</p>
                <p>
                    <a href="#">Back to top</a>
                </p>
            </div>
        </footer>

    </body>
</html>